logs/gnuparallel/modelling-results
logs/gnuparallel/solutions-results
problems/*/*-models/*/*/*/*.eprime
logs/gnuparallel/solutions-joblog
scripts/solutions/conjure_commands.txt*
scripts/analyze/__pycache__
slurm
*.eprime-info
*.eprime-infor
*.eprime-param
*.eprime-param.fzn
*.eprime-solution
*.eprime-minion
*.eprime-dimacs
*.eprime.mzn

*.solution

